/* * : 모든 요소를 선택 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  min-width: 1060px;
  font-size: 1.8rem;
  line-height: 1.6;
  font-family: Roboto, Avenir, sans-serif;
}
a {
  /* 링크의 밑줄 없애기 */
  text-decoration: none;
}
.cta {
  color: white;
  font-weight: 400;
  display: block;

  /* 블록 꼭짓점의 굴곡 설정 */
  border-radius: 8px;
  background: #44b78b;
}
.cta:hover {
  background: #51be95;
}
/* HEADER */
.header {
  background: #0c4b33;
  height: 72px;

  /* top (right left) bottom */
  padding: 15px 0 4px;
}
.container,
.container-float {
  max-width: 1400px;

  /* margin: 0 auto; - (top bottom) (right left) */
  /* margin : 10px; - (top right bottom left) */
  /* margin: 0 auto 0 auto; - top right bottom left */

  /* 가운데 정렬 */
  margin: 0 auto;

  padding: 0 20px;
  position: relative;
}
.container-float::after {
  display: block;
  content: "";
  clear: both;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding-left: inherit;
}
.nav {
  text-align: right;
}
.list {
  margin: 0;
  font-size: 0;
}
.list-item {
  display: inline-block;
  font-weight: 700;
  font-size: 1.3rem;

  /* 글자 대문자로 설정 */
  text-transform: uppercase;
}
.list-item > a {
  color: white;
  display: block;
  padding: 10px;
}
.list-item > a:hover {
  /* 링크 위에 마우스를 올릴때 색 지정 */
  color: #c9f0dd;
}

/* MAIN */
.hero-section {
  text-align: center;
  padding: 50px 0;
  border-bottom: 1px solid #cfe3dc;
}
.intro-desc {
  width: 700px;
  font-weight: 300;
  font-size: 3.6rem;

  /* 가운데 정렬 */
  margin: 40px auto 50px;
  line-height: 1.3;
}
.hero-cta {
  width: 300px;
  margin: 0 auto 60px;
  padding: 20px 50px;
}
.main-content {
  /* float : normal flow 에서 벗어난다 */
  float: left;
  width: 70%;
  padding-right: 20px;
}
.main-title {
  font-weight: 400;
  margin: 40px 0 20px 0;
  font-size: 3.2rem;
  /* 글자 자간 줄이기 : 음수값 지정 */
  letter-spacing: -1px;
}
.main-desc {
  margin: 0 0 20px 0;
}
.mailing-layout {
  padding-top: 20px;
}
.mailing-layout::after {
  content: "";
  display: block;
  clear: both;
}
.mailing {
  float: left;
  width: 48%;
}
/* 첫번째 자식 요소에만 적용 시키는 가상 요소 */
.mailing:first-child {
  margin-right: 4%;
}
.mailing-title {
  margin: 0 0 20px 0;
  font-size: 1.8rem;
  font-weight: 700;
}
.mailing-title > a,
.mailing-desc > a {
  color: #20aa76;
}
.mailing-title > a:hover,
.mailing-desc > a:hover {
  color: #25c488;
}
.mailing-desc {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.3;
}
.mailing-form {
  margin: 10px 0 30px;
  /* 버튼의 부모 요소 - relative */
  position: relative;
}
/* 웹 접근성을 고려한 레이블 삭제 */
.mailing-form > label {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}
input[type="email"] {
  width: 100%;
  border: 1px solid #cfe3dc;
  border-radius: 4px;
  height: 5rem;
  /* 글자가 넘쳤을 때 Submit 버튼을 가리지 못하도록 패딩 설정 */
  padding: 6px 80px 8px 10px;
}
.mailing-form-btn {
  /* input 요소 안에 포함되어야 함 - absolute*/
  /* 부모 요소 안에서 기준을 잡아야 함 - relative */
  position: absolute;
  top: 30%;
  right: 1rem;
  /* 보더 지정 안함 */
  border: 0;
  color: #44b78b;
  /* 투명한 배경으로 지정 */
  background: transparent;
  /* 마우스를 위에다가 올렸을때 포인터 모양으로 변환 */
  cursor: pointer;
}
.mailing-form-btn:hover {
  color: #0c4b33;
}

/* SIDE-CONTENT */
.side-content {
  float: right;
  width: 30%;
  margin: 0;
  padding: 0 0 30px 20px;
  border-left: 1px solid #cfe3dc;
}
.side-content a:hover {
  color: #25c488;
}
/* 구체성 우선순위를 높이려고 .cta선언 */
.cta.side-cta:hover {
  color: white;
}
.container-side-cta {
  text-align: center;
}
.side-cta {
  width: 330px;
  padding: 16px 24px;
  margin: 40px auto 0;
}
.side-cta em {
  font-style: normal;
  color: #c9f0dd;
}
.more {
  display: block;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #20aa76;
}
/* 가상요소로 선언 */
.more::after {
  content: " >";
}
.infos {
  margin-bottom: 40px;
}
.infos-title {
  font-size: 1.8rem;
  font-weight: 400;
  border-bottom: 1px solid #cfe3dc;
  margin: 3.5rem 0 0 0;
  padding-bottom: 1rem;
}
.news-title {
  margin: 0;
  font-weight: 700;
  font-size: 1.6rem;
}
.news-title > a,
.community-title > a {
  color: #20aa76;
}
.news-article {
  padding: 20px 0;
}
.news-desc {
  font-size: 1.5rem;
}
.news-meta {
  margin: 0;
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #859d94;
}
.news-meta > span {
  font-weight: 700;
}
.list-communities {
  padding: 20px 0;
  margin: 0;
}
.community-title {
  font-size: 1.4rem;
}
/* num : 해당 번호만 적용 */
/* n + num : 해당 번호 이상부터 적용 */
/* 두번째 요소 이상부터 적용 */
.community-title:nth-child(n + 2) {
  margin-top: 14px;
}
.community-desc {
  margin: 10px 0 0 0;
  font-size: 1.4rem;
  color: #859d94;
}

/* FOOTER */
.footer {
  background: #0c4b33;
  padding: 10px 0 30px;
}
.footer a {
  color: inherit;
}
.copyright {
  font-size: 1.2rem;
  color: #2b8c67;
}
.copyright a {
  text-decoration: underline;
}
